<nav class="navbar navbar-dark bg-dark navbar-expand-md navbar-light bg-light">
    <div class="container-lg">
        <a class="navbar-brand" href="/">
            <img src="/WFlogo.png" alt="logo" width="24" height="24" class="d-inline-block align-text-top">
            LOGIN SYSTEM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-lg-0 w-100 justify-content-end">
                <li class="nav-item"><a class="nav-link ms-4" href="/">Home</a></li>
                <% if (!user){ %>
                    <li class="nav-item">
                        <a class="nav-link ms-4" href="/auth/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ms-4" href="/auth/signup">Sign Up</a>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link ms-4" href="/auth/logout">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ms-4" href="/profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ms-4" href="/profile/post">Add New Post</a>
                        </li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>