<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("partials/header") %>
        <title>Home</title>
</head>

<body style="overflow-y: hidden">
    <%- include("partials/nav") %>
        <div class="p-5 mb-4 bg-light rounded-3" style="height: 100vh;">
            <div class="container-lg py-5 d-flex justify-content-center flex-column align-items-center">
                <h1 class="display-5 fw-bold mb-5 text-center">
                    Google and Local Login System
                </h1>
                <p class="col-md-8 fs-4 mb-5 text-center">
                    Project includes EJS, MongoDB, Passport.js, Authentication,
                    OAuth(Google Login Setup) and other examples.
                </p>
                <button class="btn btn-primary btn-lg" type="button">
                    Start Login
                </button>
            </div>
        </div>
</body>

</html>