<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("partials/header") %>
    <title>Post</title>
</head>

<body>
  <%- include ("partials/nav") %>
    <main class="mx-auto" style=" padding: 3rem; max-width:500px;">
      <%- include ("partials/message") %>
        <form class="text-center border border-secondary p-4 mt-2" action="/profile/post" method="POST" style="">
          <div class="form-group">
            <label for="exampleforTitle">Title</label>
            <input name="title" type="text" class="form-control" id="exampleforTitle" />
          </div>
          <br />
          <div class="form-group">
            <label for="exampleforContent">Content</label>
            <textarea class="form-control" id="exampleforContent" aria-describedby="emailHelp"
              name="content" /></textarea>
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>
</body>

</html>